*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
Backend/BudgetBackend/.vs/BudgetBackend/v15/Server/sqlite3/db.lock
